
<h4 class="card-subtitle mb-2 text-muted"> 
    <!-- - {{Quotes.author}} <span id="when">Posted: -->

         days ago.
</h4>
<div class="container-fluid">

    <button type="submit"class="btn btn-success" style="margin: 1%;"> <i class="fa fa-thumbs-up" id="like"></i></button><button type="submit"class="btn btn-success" style="margin: 1%;"> <i class="fa fa-thumbs-down" id="like"></i></button><button class="btn btn-sm btn-danger" style="margin: 3%;" id="del" (click)='deleteQuote(true)'><i class="fa fa-trash" id="delete"></i></button> 
    
    
</div>

