<h1 class="text-center">Welcome to Tech Quotes App</h1>
<div class="lines">
    <div class="diamond"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <app-quote-form ></app-quote-form>
            <!-- ()="addQuote()" -->
        </div>
        <div class="col-sm-9" style="margin-top: 1%;width: 24rem; ">
            <div class="all-cards" >
                <div class="card" *ngFor="let quote of Quotes"   >
                    <div class="card-body">
                        <h4 class="card-title"><button (click)='showInfo(i)' class="btn btn-info btn-sm" id="quotes-button" >See More</button></h4>
                        <div class="card-title"> 
                            {{quote.title}} 
                        </div>
                        <p class="card-text">
                            {{quote.quote}}
                         </p>
                        <app-quotedetail *ngIf='quote.showInfo'  ></app-quotedetail>
                        <span class="card-subtitle mb-2">Posted by: <span id="name"> 
                             {{quote.name}} 
                         </span><span id="date">on: <span id="datecolor">
                            {{quote.datePosted|date}}
                        </span></span></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-quote-footer></app-quote-footer>
