<h1 class="text-center">Welcome to Tech Quotes App</h1>
<div class="lines">
    <div class="diamond"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <app-quote-form ></app-quote-form>
        </div>
        <div class="col-sm-9" style="margin-top: 1%;">
            <div class="all-cards">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"> 
                            <!-- {{quotes.name}}  -->
                        </div>
                        <p class="card-text">
                            <!-- {{quotes.title}} -->
                         </p>
                        <app-quotedetail ></app-quotedetail>
                        <span class="card-subtitle mb-2">Posted by: <span id="name"> 
                             <!-- {{Quote.name}}  -->
                         </span><span id="date">on: <span id="datecolor">
                           
                        </span></span></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-quote-footer></app-quote-footer>
