

/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "~bootstrap/dist/css/bootstrap.css";

*{
    font-family: "Roboto";
    line-height: 1.4;
    margin: 0%; padding: 0%;

}
body{
    box-sizing: border-box;
    font-size: 100%;
    transition: all 0.2s ease;
    background-color: grey;
   
    
}
